ConsoleAppReceipt/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54396/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54396/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54396/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54396/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfReceipt" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ClearFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearFile" />
  </wsdl:message>
  <wsdl:message name="IService1_ClearFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewReciept_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewReciept" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewReciept_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewRecieptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticles" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ClearFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ClearFile" message="tns:IService1_ClearFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ClearFileResponse" message="tns:IService1_ClearFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewReciept">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewReciept" message="tns:IService1_AddNewReciept_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewRecieptResponse" message="tns:IService1_AddNewReciept_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllArticles" message="tns:IService1_GetAllArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllArticlesResponse" message="tns:IService1_GetAllArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewArticle" message="tns:IService1_AddNewArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewArticleResponse" message="tns:IService1_AddNewArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearFile">
      <soap:operation soapAction="http://tempuri.org/IService1/ClearFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewReciept">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewReciept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArticles">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54396/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>